<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>daviga</title> <!--Título da aba -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"> <!-- Referenciar o bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" type='image/x.icon' href="/img/logo.ico">

</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class='profile'> <!-- Classe profile -->
           <img src="/img/iconemenu.jpg" alt="Minha foto">
            <h1>Davi Galdino</h1>  <!-- Nome em baixo da foto -->

            <div class="social-links mt-4 text-center"> <!-- Classe dos links -->
                
                <a target="_blank" href="https://github.com/Davi-Ga">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/davi-ga/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://profile.codersrank.io/user/davi-ga/">
                    <i class="bi bi-code-slash"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/davii.galdino/">
                    <i class="bi bi-instagram"></i>
                </a>

            </div>
            
        </section>
        <!-- -->
        <nav id='navbar' class="nav-menu"> <!-- Barra de navegação -->
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio">
                      <i class="bi bi-house" aria-hidden="true"></i> Inicio</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#sobre">
                      <i class="bi bi-person-circle" aria-hidden="true"></i> Sobre</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#habilidades">
                      <i class="bi bi-card-checklist" aria-hidden="true"></i> Habilidades</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>
                        Currículo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-collection" aria-hidden="true"></i>Projetos</a>
                </li>

                <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-body-text" aria-hidden="true"></i>Artigos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-envelope" aria-hidden="true"></i>Contato</a>
                    </li>
              </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class ="row m-0 p-0">
        
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 >Davi Galdino</h2>
                <span id="subtitle" >Desenvolvedor Web e estudante de Ciência da Computação. </span>
            </div>
            
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class ="bi bi-arrow-down  pe-2 fs-2 arraste" aria-hidden="true"></i>
                    <a class="arraste" href="">Arraste para mais</a>
                </div>
            </div>

            <div class="set">
                <div><img src="/img/css.png"></div>
                <div><img src="/img/docker.png"></div>
                <div><img src="/img/html.png"></div>
                <div><img src="/img/python.png"></div>
                <div><img src="/img/java-script.png"></div>
                <div><img src="/img/bootstrap.png"></div>
                <div><img src="/img/django.png"></div>
                <div><img src="/img/java.png"></div>
                <div><img src="/img/postgresql.png"></div>
                <div><img src="/img/git.png"></div>
                <div><img src="/img/linux.png"></div>
                <div><img src="/img/clojure.png"></div>
                <div><img src="/img/mongodb.png"></div>
                <div><img src="/img/heroku.png"></div>

            </div>

        </section>

        <section id="sobre" class="container mt-5" >
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Desde pequeno sempre fui apaixonado por tecnologia e as maravilhas que ela pode realizar e 
                        acabei tendo um apego emocional muito forte com a computação.
                        Em 2018 fui introduzido ao conceito da programação utilizando a linguagem Python no curso
                        introdutório do Professor Gustavo Guanabara.
                        Logo em 2021, após concluir o Ensino Medio, comecei a faculdade de Ciência da Computação no Instituto Federal de Anápolis (IFG),
                        onde estou cursando atualmente o 4º período, durante esses 2 anos e meio de faculdade tive a oportunidade de aprender diversos assuntos maravilhosos,
                        como: Algoritmos, Estrutura de Dados, Banco de Dados, Engenharia de Software e também aprendi sobre o Desenvolvimento Web, onde tive meu primeiro contato com Docker, HTML, CSS, JavaScript e o Framework Django.
                        </p>
                </div>

                <div class="row mt-4">
                    <div class="col-md-4">
                        <img class="img-fluid shadow" src="/img/fotoperfil.jpg" alt="Foto Davi">
                    </div>
                    <div class="col-md-8">
                        <h4>Desenvolvedor Web</h4>
                        <p>Atualmente estudo para me tornar um Desenvolvedor FullStack, realizei alguns projetos
                            e alguns freelances para aprimorar minhas habilidades, estou buscando aprender 
                            mais sobre o desenvolvimento web e também sobre a área de DevOps, onde pretendo me especializar.
                        </p>
                        <div class="row mt-3 mb-3">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5 fontcor">
                                    <li class="list-group-item">
                                        Idade: <span class="fw-light">20 anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        Aniversário: <span class="fw-light">20/09/2002</span>
                                    </li>
                                    <li class="list-group-item">
                                        Cidade: <span class="fw-light">Anápolis</span>
                                    </li>
                                    <li class="list-group-item">
                                        Estado: <span class="fw-light">Goiás</span>
                                    </li>
                                </ul>
                                
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5 fontcor">
                                    <li class="list-group-item">
                                        Trabalho: <span class="fw-light">CodeTower</span>
                                    </li>
                                    <li class="list-group-item">
                                        Experiência: <span class="fw-light">+1 ano</span>
                                    </li>
                                    <li class="list-group-item">
                                        Hobby: <span class="fw-light">Video-games</span>
                                    </li>
                                    <li class="list-group-item">
                                        Linguagem dominante: <span class="fw-light">Python</span>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>

                        <p>Além disso, tenho bastante interesse na área de Reconhecimento Facial e Inteligência Artificial,
                            como hobby, me dedicaria a estudar sobre esses assuntos e aumentar minhas habilidades.
                        </p>

                    </div>
                </div>
            </div>
        </section>

        <section id="habilidades" class="mt-5 section-bg">
            <div class="container pb-5">
                <h2 class="pt-5 text-white text-shadow">Habilidades</h2>

                <div class="row">
                    <div class="col-md-6">
                        <p class="'mt-3 mb-0 text-white text-shadow"><img src="/img/python.png" class="logoapp"> Python</p>
                        <div class="progress">
                            <div class="progress-bar colorbar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</body>
</html>